body {
    margin: 0px;
    padding: 0px;
}

div#HEMATOLOGIA {
    width: auto;
    height: auto;
}

div#ELECTROLITOS {
    width: auto;
    height: 170px;
}

div#TUMORALES {
    width: auto;
    height: auto;
}

div#INMUNOHEMATOLOGIA {
    width: auto;
    height: auto;
}

div#SEROLOGIA {
    margin-top: auto;
    width: auto;
    height: auto;
}

div#MICROBIOLOGIA {
    margin-top: auto;
    width: auto;
    height: auto;
}

div#COAGULACION {
    margin-top: auto;
    width: auto;
    height: auto;
}

div#HORMONAS {
    margin-top: auto;
    width: auto;
    height: auto;
}

div#ESPECIALES {
    margin-top: auto;
    width: auto;
    height: auto;
}

div#SANGUINEA {
    margin-top: auto;
    width: auto;
    height: auto;
}
