<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString"
            connectionString="Data Source=ANDRES-SOSA;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>