<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString"
            connectionString="Data Source=ANDRES-SOSA;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString1"
            connectionString="Data Source=ZOCAPO;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString2"
            connectionString="Data Source=DESKTOP-ECJQ4MB;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString3"
            connectionString="Data Source=ANDRES-SOSA\SQLEXPRESS;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.ECU911ConnectionString"
            connectionString="Data Source=ANDRES-SOSA\SQLEXPRESS;Initial Catalog=ECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.RRHHECU911ConnectionString"
            connectionString="Data Source=.;Initial Catalog=RRHHECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString4"
            connectionString="Data Source=.;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString5"
            connectionString="Data Source=ZOCAPO\SQLEXPRESS;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString6"
            connectionString="Data Source=MAYCKYANDER\MAYCKYANDER;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.Ecu911PasantesConnectionString"
            connectionString="Data Source=.;Initial Catalog=Ecu911Pasantes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.db_a8b7d4_sistemaecu911ConnectionString"
            connectionString="Data Source=sql8004.site4now.net;Initial Catalog=db_a8b7d4_sistemaecu911;Persist Security Info=True;User ID=db_a8b7d4_sistemaecu911_admin;Password=SistemaECU911"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=sql8001.site4now.net;Persist Security Info=True;User ID=db_a8b7d4_sistemaecu911_admin;Password=SistemaECU911"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.db_a8b7d4_sistemaecu911ConnectionString1"
            connectionString="Data Source=sql8001.site4now.net;Initial Catalog=db_a8b7d4_sistemaecu911;Persist Security Info=True;User ID=db_a8b7d4_sistemaecu911_admin;Password=SistemaECU911"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>