<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString"
            connectionString="Data Source=ANDRES-SOSA;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString1"
            connectionString="Data Source=ZOCAPO;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString2"
            connectionString="Data Source=DESKTOP-ECJQ4MB;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString3"
            connectionString="Data Source=ANDRES-SOSA\SQLEXPRESS;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.ECU911ConnectionString"
            connectionString="Data Source=ANDRES-SOSA\SQLEXPRESS;Initial Catalog=ECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.RRHHECU911ConnectionString"
            connectionString="Data Source=.;Initial Catalog=RRHHECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString4"
            connectionString="Data Source=.;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString5"
            connectionString="Data Source=ZOCAPO\SQLEXPRESS;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SistemaECU911ConnectionString6"
            connectionString="Data Source=MAYCKYANDER\MAYCKYANDER;Initial Catalog=SistemaECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>